<p>Ask a Question:</p>

<%= form_for @question do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br>
  <%= f.label :question %>:
  <%= f.text_field :body %><br>
  <%= f.submit "Ask dat question" %>
<% end %>