<h1>Ask a Question:</h1>

<%= form_for @question do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :question %>
  <%= f.text_area :body %>
  <%= f.submit "Ask dat question" %>
<% end %>