<h1>Ask a Question:</h1>

<%= form_for @question do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body, 'Question' %>
  <%= f.text_field :body %>
  <%= f.submit "Ask dat question" %>
<% end %>