<h1><%= @question.title %></h1>
<br/>
<p><%= @question.body %></p>

<%= link_to 'back', root_path %>

<h2>Answers:</h2>
<%= render @question.answers %>

<h2>Submit an answer:</h2>
<%= render "answers/form" %>