<h1><%= @question.title %></h1>
<br/>
<p><%= @question.body %></p>

<%= link_to 'back', root_path %>
<%= link_to 'edit', edit_question_path(@question) %>

<h1>Add a new answer</h1>

<%= form_for @answer do |f| %>
  <%= f.hidden_field :question_id, value: @question.id %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :body, "Answer" %>
  <%= f.text_field :body %>

  <%= f.submit %>
<% end %>

  <ul>
    <% @answers.each do |answer| %>
      <li>Author: <%= answer.author %></li>
      <li>answer: <%= answer.body %></li>
    <% end %>
  </ul>
