<!DOCTYPE html>
<html>
<head>
  <title>Tech2me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='container'>
    <nav>
      <span id='logo'>tech2me</span>
      <span id='new_question_btn'><%= link_to 'New Question', new_question_path(@question) %></span>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
