<!DOCTYPE html>
<html>
<head>
  <title>Tech2me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='container'>
    <nav>

      <span id='logo'>tech2me</span>

     <% if signed_in? %>

    Signed in as: <%= current_user.email %>
    <%= link_to 'Sign out', sign_out_path, :method => :delete %>
    <% else %>
    <%= link_to 'Sign in', sign_in_path %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

      <%= link_to 'tech2me', root_path, id: "logo" %>
      <span id='new_question_btn'><%= link_to 'New Question', new_question_path(@question) %></span>

    </nav>

    <%= yield %>
  </div>
</body>
</html>
