<!DOCTYPE html>
<html>
<head>
  <title>Tech2me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='container'>
    <nav>

    <%= link_to 'tech2me', root_path, id: "logo" %>

     <% if signed_in? %>
       <span id='new_question_btn'><%= link_to 'New Question', new_question_path(@question) %></span>
       Signed in as: <%= current_user.email %>
       <%= link_to 'Sign out', sign_out_path, :method => :delete, :class => 'sign_in' %>
       <% else %>
       <%= link_to 'Sign in', sign_in_path, :class => 'sign_in' %>
     <% end %>

  </nav>

  <%= yield %>

  <%= flash[:error] %>

</div>
</body>
</html>
